---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import IngredientList from "../../components/recipes/recipe/IngredientList.astro";
import InstructionList from "../../components/recipes/recipe/InstructionList.astro";
import RecipeHeading from "../../components/recipes/recipe/RecipeHeading.astro";
import RecipeNotes from "../../components/recipes/recipe/RecipeNotes.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  return recipes.map((recipe) => ({
    params: { slug: recipe.slug },
    props: { recipe },
  }));
}

const { recipe } = Astro.props;
const { Content } = await recipe.render();
---

<Layout>
  <article class="mx-auto w-[95%] max-w-7xl px-4 py-12">
    <RecipeHeading data={recipe.data} />
    <div class="grid gap-12 lg:grid-cols-5">
      <IngredientList ingredients={recipe.data.ingredients} />

      <InstructionList instructions={recipe} />
    </div>

    <RecipeNotes notes={recipe.data.notes} />
  </article>
</Layout>
