---
const { ingredients } = Astro.props;
---

<section
  class="lg:col-span-2 bg-cyan-200 border-4 border-black p-6 shadow-[8px_8px_0px_0px_rgba(0,0,0,1)]"
>
  <span class="block relative -top-24" id="recipe"></span>
  <h2
    class="mb-6 text-3xl font-black uppercase italic border-b-4 border-black pb-2"
  >
    Ingredients
  </h2>

  <ul class="space-y-4">
    {
      ingredients.map((ingredient: any) => (
        <li class="text-lg font-bold">
          <span class="col-span-1 decoration-4">
            {ingredient.amount} {ingredient.unit}
          </span>
          -
          <span class="col-span-2 uppercase">
            {ingredient.name} {ingredient.format}
          </span>
        </li>
      ))
    }
  </ul>
</section>
