---
import Navbar from "../components/Navbar.astro";
import "../assets/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>OARecipes</title>
  </head>
  <body class="bg-[#f0f0f0] text-black font-sans selection:bg-yellow-300">
    <Navbar />
    <slot />
  </body>
</html>
