---
// src/components/ui/Badge.astro
const { tag } = Astro.props;
---

<span
  class="border-2 border-black bg-yellow-300 px-2 py-0.5 text-xs font-bold uppercase shadow-[2px_2px_0px_0px_rgba(0,0,0,1)]"
>
  {tag}
</span>
