<a
  href="#recipe"
  class="px-6 py-3 border-4 border-black bg-orange-500 text-white font-black text-xl shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:shadow-none hover:translate-x-1 hover:translate-y-1 transition-all"
>
  JUMP TO RECIPE
</a>
